@font-face {
    font-family: "instrumentRegular";
    src: url("../../../public/assets/fonts/InstrumentSerif-Regular.ttf");
  }
  
  @font-face {
    font-family: "instrumentItalic";
    src: url("../../../public/assets/fonts/InstrumentSerif-Italic.ttf");
  }

.Cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 20px;

    img {
        width: 15vw;
    }

    p {
        position: absolute;
        bottom: 50px;
        font-family: instrumentRegular;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 2.5rem;
    }
}

#verde:hover {
    transition: 0.5s;
    box-shadow: 0 2px 50px #17530f;
}

#amarelo:hover {
    transition: 0.5s;
    box-shadow: 0 2px 50px #8b7f13;
}

#vermelho:hover {
    transition: 0.5s;
    box-shadow: 0 2px 50px #990f0f;
}

#preto:hover {
    transition: 0.5s;
    box-shadow: 0 2px 50px #000000;
}

